<CONFIG>
<SP name="spa">
<!-- HW -->
    <PORT name="eth0"/>
    <PORT name="eth1"/>
<!-- SW -->
    <NAMESPACE name="ns1">
        <NAS name="nas_1">
            <IF port="eth1" label="nas_1-if_1" ip="192.168.1.1" mask="255.255.255.0" vlan="111" gw="192.168.1.254"/>
            <IF port="eth1" label="nas_1-if_2" ip="192.168.2.1" mask="255.255.255.0" vlan="121"/>
        </NAS>
        <NAS name="nas_2">
            <IF port="eth1" label="nas_2-if_1" ip="192.168.3.1" mask="255.255.255.0" vlan="131" gw="192.168.3.254"/>
            <IF port="eth1" label="nas_2-if_2" ip="192.168.4.1" mask="255.255.255.0" vlan="141"/>
        </NAS>
    </NAMESPACE>
    <NAMESPACE name="ns2">
        <NAS name="nas_3">
            <IF port="eth1" label="nas_3-if_1" ip="192.168.1.2" mask="255.255.255.0" vlan="212" gw="192.168.1.254"/>
            <IF port="eth1" label="nas_3-if_2" ip="192.168.2.2" mask="255.255.255.0" vlan="222"/>
        </NAS>
        <NAS name="nas_4">
            <IF port="eth1" label="nas_4-if_1" ip="192.168.3.2" mask="255.255.255.0" vlan="232" gw="192.168.3.254"/>
            <IF port="eth1" label="nas_4-if_2" ip="192.168.4.2" mask="255.255.255.0" vlan="242"/>
        </NAS>
    </NAMESPACE>
</SP>
</CONFIG>